pip==26.1.2
asgiref
crispy-bootstrap4
dj-database-url
django
django-ckeditor
django-crispy-forms
django-jazzmin
django-js-asset
environs
marshmallow
pillow
python-dotenv
six
sqlparse
tzdata
urllib.parse
furl 
whitenoise

